In [ ]:
# !pip install haversine
# !pip install googlemaps

In [1]:
import pandas as pd
import requests
import googlemaps
from datetime import datetime

In [2]:
import funcion as fn

In [3]:
df = pd.read_stata( 'data.dta' )
df = df.sample( n = 5, random_state = 42 )
df

      mes conglome vivienda hogar codperso  ubigeo   longitud    latitud
2980   04   007593      176    11       03  150128 -77.028961 -12.027435
10941  03   015452      011    11       02  030210 -73.532326 -14.149008
39205  08   020034      105    11       02  230206 -70.257874 -17.316950
24096  03   017330      084    11       01  130101 -79.022621  -8.115307
9532   05   015316      015    11       01  021701 -77.456833  -9.721048

In [5]:
lugares = [ 'Posta Médica', 'Centro de Salud', 'Hospital' ]
API_KEY =   'AIzaSyAVBwzJurlbdUwAV0JTX4_Rhm1WoTZmgww'


resultados = fn.localizar( df, lugares, API_KEY )
resultados

,mes,conglome,vivienda,hogar,codperso,ubigeo,longitud,latitud,distancia_km,direccion
2980,04,007593,176,11,03,150128,-77.028961,-12.027435,2.7,"[XXFP+62R, C. Moquegua, San Juan de Lurigancho..."
10941,03,015452,011,11,02,030210,-73.532326,-14.149008,7.8,"[RF83+F6P, Pampachiri 03600, Peru]"
39205,08,020034,105,11,02,230206,-70.257874,-17.316950,10.4,"[PPHX+82H, Candarave 23420, Peru]"
24096,03,017330,084,11,01,130101,-79.022621,-8.115307,0.8,"[Jirón Bolognesi 678, Trujillo 13001, Peru]"
9532,05,015316,015,11,01,021701,-77.456833,-9.721048,0.9,"[7GCW+QMF, Recuay 02405, Peru]"

In [ ]:
resultados = pd.read_csv( 'resultados.csv' )